<style>
  .modal-backdrop {
    z-index: -1;
  }
</style>
<div
  class="modal modal-rel fade"
  id="package_email"
  tabindex="-1"
  aria-labelledby="package_emailLabel"
  aria-hidden="true"
  data-backdrop="false"
  role="dialog"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="package_emailLabel">
          Package management by email
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div>
          <div class="form-group mb-20">
            <p>
              <label for="name">Email:</label>
              <input
                name="name"
                type="text"
                id="email"
                class="form-control"
                placeholder="Enter email here"
              />
              <label>Package:</label>
              <select class="form-select" id="setpackage_package">
                <option value="">
                  Default package. (ID: <%= settings.packages.default %>)
                </option>
                <% for (let [ id, info ] of
                Object.entries(settings.packages.list)) { %>
                <option value="<%= id %>">
                  <%= info.display %> (ID: <%= id %>) | Memory: <%= info.memory
                  %>MB, Disk: <%= info.disk %>, CPU: <%= info.cpu %>, Servers:
                  <%= info.servers %>
                </option>
                <% } %>
              </select>
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            class="btn btn-success"
            data-bs-dismiss="modal"
            onclick="asyncAlert(setPackage_email(document.getElementById('email').value, document.getElementById('setpackage_package').value.length == 0 ? null : document.getElementById('setpackage_package').value))"
          >
            Set
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
